force-app/main/default/flows/Process_Each_Rec_One_by_One.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increase_Index_No</name>
        <label>Increase Index No</label>
        <locationX>923</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>curIndexNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Each_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue_to_Next_Index_No_or_Stop</name>
        <label>Continue to Next Index No or Stop</label>
        <locationX>382</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop_if_No_Index_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Each_Rec</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <label>Stop if No Index No</label>
        </rules>
        <rules>
            <name>Continue_to_Next_Index_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Each_Rec</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Same_Sys_ID</targetReference>
            </connector>
            <label>Continue to Next Index No</label>
        </rules>
    </decisions>
    <interviewLabel>Process Each Rec One by One {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Each Rec One by One</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Each_Rec</name>
        <label>Get Each Rec</label>
        <locationX>390</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continue_to_Next_Index_No_or_Stop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Index_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curIndexNo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>E_Rate_All_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Sys_ID</name>
        <label>Get Same Sys ID</label>
        <locationX>561</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Same_Sys_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Each_Rec.System_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>E_Rate_All_Request__c</object>
        <sortField>Date_Approved_DD_MM_YYYY__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Same_Sys_ID</name>
        <label>Update Same Sys ID</label>
        <locationX>735</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Increase_Index_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Same_Sys_ID.System_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Actioned_Date__c</field>
            <value>
                <elementReference>Get_Same_Sys_ID.Date_Actioned_DD_MM_YYYY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Actioned_Request_Type__c</field>
            <value>
                <elementReference>Get_Same_Sys_ID.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Approved_Date_of_Actioned_Request__c</field>
            <value>
                <elementReference>Get_Same_Sys_ID.Latest_Approved_Date_of_Actioned_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Each_Rec</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curIndexNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
