force-app/main/default/flows/RE_Route_Backbone_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Malaysia AMV Output</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Malaysia AMV Output</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>RE_MalayasiaOutputController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CO_Steer_Update</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>RE CO Steer Notification</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>RE_Route_Backbone__c.CO_Steer_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Thailand AMV Output</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Thailand AMV Output</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>RE_ThailandOutputController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CO_Steer_Update</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>CO Steer Notification - TH</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>RE_Route_Backbone__c.CO_Steer_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>RE_CO_Steer__c Change - MY</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>RE_CO_Steer__c Change - TH</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[RE_Route_Backbone__c].RecordType.Name = &apos;Malaysia&apos;  &amp;&amp; ((ISCHANGED([RE_Route_Backbone__c].RE_CO_Steer__c) &amp;&amp;  NOT(ISBLANK([RE_Route_Backbone__c].RE_CO_Steer__c ))  &amp;&amp; NOT(ISPICKVAL([RE_Route_Backbone__c].RE_MY_CO_Steer_Unit__c ,&apos;&apos;) )) || (ISCHANGED([RE_Route_Backbone__c].RE_MY_CO_Steer_Unit__c) &amp;&amp; NOT(ISBLANK([RE_Route_Backbone__c].RE_CO_Steer__c )) ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} = &apos;Malaysia&apos;  &amp;&amp; ((ISCHANGED({!myVariable_current.RE_CO_Steer__c}) &amp;&amp;  NOT(ISBLANK({!myVariable_current.RE_CO_Steer__c} ))  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.RE_MY_CO_Steer_Unit__c} ,&apos;&apos;) )) || (ISCHANGED({!myVariable_current.RE_MY_CO_Steer_Unit__c}) &amp;&amp; NOT(ISBLANK({!myVariable_current.RE_CO_Steer__c} )) ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[RE_Route_Backbone__c].RecordType.Name = &apos;Thailand&apos;  &amp;&amp; ((ISCHANGED([RE_Route_Backbone__c].RE_CO_Steer__c) &amp;&amp;  NOT(ISBLANK([RE_Route_Backbone__c].RE_CO_Steer__c ))  &amp;&amp; NOT(ISPICKVAL([RE_Route_Backbone__c].RE_MY_CO_Steer_Unit__c ,&apos;&apos;) )) || (ISCHANGED([RE_Route_Backbone__c].RE_MY_CO_Steer_Unit__c) &amp;&amp; NOT(ISBLANK([RE_Route_Backbone__c].RE_CO_Steer__c )) ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} = &apos;Thailand&apos;  &amp;&amp; ((ISCHANGED({!myVariable_current.RE_CO_Steer__c}) &amp;&amp;  NOT(ISBLANK({!myVariable_current.RE_CO_Steer__c} ))  &amp;&amp; NOT(ISPICKVAL({!myVariable_current.RE_MY_CO_Steer_Unit__c} ,&apos;&apos;) )) || (ISCHANGED({!myVariable_current.RE_MY_CO_Steer_Unit__c}) &amp;&amp; NOT(ISBLANK({!myVariable_current.RE_CO_Steer__c} )) ))</expression>
    </formulas>
    <interviewLabel>RE_Route_Backbone_Update-7_InterviewLabel</interviewLabel>
    <label>RE Route Backbone Update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>RE_Route_Backbone__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RE_Route_Backbone__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RE_Route_Backbone__c</objectType>
    </variables>
</Flow>
