force-app/main/default/flows/Update_Latest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Latest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Latest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSameSysRecs1</name>
        <label>GetSameSysRecs1</label>
        <locationX>156</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSameSysRecs2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputAssignments>
            <assignToReference>SameSysRec1.Request_Status__c</assignToReference>
            <field>Request_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec1.Request_Type__c</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetSameSysRecs2</name>
        <label>GetSameSysRecs2</label>
        <locationX>236</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSameSysRecs3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputAssignments>
            <assignToReference>SameSysRec2.Date_Actioned_DD_MM_YYYY__c</assignToReference>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
        </outputAssignments>
        <sortField>Date_Actioned_DD_MM_YYYY__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetSameSysRecs3</name>
        <label>GetSameSysRecs3</label>
        <locationX>476</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateLatest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SameSysRec2.Date_Actioned_DD_MM_YYYY__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputAssignments>
            <assignToReference>SameSysRec3.Date_Actioned_DD_MM_YYYY__c</assignToReference>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec3.Date_Approved_DD_MM_YYYY__c</assignToReference>
            <field>Date_Approved_DD_MM_YYYY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec3.Request_Type__c</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLatest</name>
        <label>UpdateLatest</label>
        <locationX>726</locationX>
        <locationY>418</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Actioned_Date__c</field>
            <value>
                <elementReference>SameSysRec3.Date_Actioned_DD_MM_YYYY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Actioned_Request_Type__c</field>
            <value>
                <elementReference>SameSysRec3.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Approved_Date_of_Actioned_Request__c</field>
            <value>
                <elementReference>SameSysRec3.Date_Approved_DD_MM_YYYY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Request_Status__c</field>
            <value>
                <elementReference>SameSysRec1.Request_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Request_Type__c</field>
            <value>
                <elementReference>SameSysRec1.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>42</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSameSysRecs1</targetReference>
        </connector>
        <object>E_Rate_All_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SameSysRec1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameSysRec2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameSysRec3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
</Flow>
