force-app/main/default/flows/Update_of_Latest_with_MDN_Entries_as_Input.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Same_Name_Recs_Deact</name>
        <label>Count Same Name Recs Deact</label>
        <locationX>1079</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>CountSameNameRecsDeact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SameNameRecsDeact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountSameNameRecs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SameNameRecs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountSameNameRecsErate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SameNameRecsErate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Same_Name_Recs_Erate_Deact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Same_Name_Recs_Erate_Deact</name>
        <label>Count Same Name Recs Erate Deact</label>
        <locationX>1074</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>CountSameNameRecsErate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CountSameNameRecsDeact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Consistency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountSameMDNReqIDRecs</name>
        <label>CountSameMDNReqIDRecs</label>
        <locationX>400</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>SameReqIDRecsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SameMDNReqIDRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMDNEntries</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NullDate</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>NullText</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_Consistency</name>
        <label>Check Consistency</label>
        <locationX>1035</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfConsistent1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSameNameRecs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountSameNameRecsErate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consistency</targetReference>
            </connector>
            <label>IfConsistent1</label>
        </rules>
        <rules>
            <name>IfInconsistent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSameNameRecs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CountSameNameRecsErate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountSameNameRecsErate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inconsistency</targetReference>
            </connector>
            <label>IfInconsistent</label>
        </rules>
        <rules>
            <name>IfConsistent2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSameNameRecs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CountSameNameRecsErate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountSameNameRecsErate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consistency</targetReference>
            </connector>
            <label>IfConsistent2</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Newly_Created</name>
        <label>If Newly Created</label>
        <locationX>626</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNewlyCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSameMDNReqIDRecs</targetReference>
            </connector>
            <label>IfNewlyCreated</label>
        </rules>
    </decisions>
    <interviewLabel>Update of Latest with MDN Entries as Input {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update of Latest with MDN Entries as Input</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Same_Name_Recs</name>
        <label>Get Same Name Recs</label>
        <locationX>754</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Same_Name_Recs_Erate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counterparty_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counterparty_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Latest_Request_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputReference>SameNameRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latest_Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Name_Recs_Deact</name>
        <label>Get Same Name Recs Deact</label>
        <locationX>1053</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Same_Name_Recs_Deact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counterparty_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counterparty_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Latest_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deactivate</stringValue>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputReference>SameNameRecsDeact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latest_Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Name_Recs_Erate</name>
        <label>Get Same Name Recs Erate</label>
        <locationX>902</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Same_Name_Recs_Deact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counterparty_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counterparty_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Latest_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E-rate</stringValue>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputReference>SameNameRecsErate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latest_Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSameMDNReqIDRecs</name>
        <label>GetSameMDNReqIDRecs</label>
        <locationX>519</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSameMDNReqIDRecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>MDN_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDN_Request__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputReference>SameMDNReqIDRecs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSameSysRecs1</name>
        <label>GetSameSysRecs1</label>
        <locationX>458</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSameSysRecs2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputAssignments>
            <assignToReference>SameSysRec1.Reason_Type__c</assignToReference>
            <field>Reason_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec1.Request_Status__c</assignToReference>
            <field>Request_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec1.Request_Type__c</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetSameSysRecs2</name>
        <label>GetSameSysRecs2</label>
        <locationX>616</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateLatest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NullText</elementReference>
            </value>
        </filters>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputAssignments>
            <assignToReference>SameSysRec2.Date_Actioned_DD_MM_YYYY__c</assignToReference>
            <field>Date_Actioned_DD_MM_YYYY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec2.Date_Approved_DD_MM_YYYY__c</assignToReference>
            <field>Date_Approved_DD_MM_YYYY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec2.Request_Status__c</assignToReference>
            <field>Request_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SameSysRec2.Request_Type__c</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consistency</name>
        <label>Update Consistency</label>
        <locationX>891</locationX>
        <locationY>410</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counterparty_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counterparty_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consistency_Across_Name__c</field>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inconsistency</name>
        <label>Update Inconsistency</label>
        <locationX>889</locationX>
        <locationY>523</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Counterparty_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Counterparty_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consistency_Across_Name__c</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLatest</name>
        <label>UpdateLatest</label>
        <locationX>617</locationX>
        <locationY>281</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>System_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.System_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Actioned_Date__c</field>
            <value>
                <elementReference>SameSysRec2.Date_Actioned_DD_MM_YYYY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Actioned_Request_Type__c</field>
            <value>
                <elementReference>SameSysRec2.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Approved_Date_of_Actioned_Request__c</field>
            <value>
                <elementReference>SameSysRec2.Date_Approved_DD_MM_YYYY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Reason_Type__c</field>
            <value>
                <elementReference>SameSysRec1.Reason_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Request_Status__c</field>
            <value>
                <elementReference>SameSysRec1.Request_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Request_Type__c</field>
            <value>
                <elementReference>SameSysRec1.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMDNEntries</name>
        <label>UpdateMDNEntries</label>
        <locationX>216</locationX>
        <locationY>465</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MDN_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDN_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entries_in_MDN_Request__c</field>
            <value>
                <elementReference>SameReqIDRecsCount</elementReference>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSameSysRecs1</targetReference>
        </connector>
        <object>E_Rate_All_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountSameNameRecs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountSameNameRecsDeact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountSameNameRecsErate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SameMDNReqIDRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameNameRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameNameRecsDeact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameNameRecsErate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameReqIDRecsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SameSysRec1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameSysRec2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameSysRec3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameSysRec4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
</Flow>
