force-app/main/default/flows/UpdateMDNEntriesAFterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CountSameMDNReqIDRecs</name>
        <label>CountSameMDNReqIDRecs</label>
        <locationX>680</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>SameReqIDRecsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SameMDNReqIDRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMDNEntries</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateMDNEntriesAFterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateMDNEntriesAFterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSameMDNReqIDRecs</name>
        <label>GetSameMDNReqIDRecs</label>
        <locationX>554</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSameMDNReqIDRecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MDN_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDN_Request__c</elementReference>
            </value>
        </filters>
        <object>E_Rate_All_Request__c</object>
        <outputReference>SameMDNReqIDRecs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMDNEntries</name>
        <label>UpdateMDNEntries</label>
        <locationX>924</locationX>
        <locationY>212</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MDN_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MDN_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entries_in_MDN_Request__c</field>
            <value>
                <elementReference>SameReqIDRecsCount</elementReference>
            </value>
        </inputAssignments>
        <object>E_Rate_All_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetSameMDNReqIDRecs</targetReference>
        </connector>
        <object>E_Rate_All_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SameMDNReqIDRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>E_Rate_All_Request__c</objectType>
    </variables>
    <variables>
        <name>SameReqIDRecsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
